# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Users Environment Variables
.lock-wscript
.idea/
*.keystore
*.sw*
.DS_Store
._*
Thumbs.db
.cache
*.sublime-project
*.sublime-workspace
.sass-cache
.styles/.sass-cache
src/css/
*swp
*swo
*swn
build
dist
temp
node_modules
bower_components